nupkg/

coverage/*
!coverage/.gdignore

.godot/
bin/
obj/
.generated/
.vs/
.DS_Store

*.translation
assets/audio/BlockConnect.wav.import
assets/audio/BlockHit.wav.import
assets/audio/Nodeconnect.wav.import
assets/audio/NodeHit.wav.import
assets/audio/ScoreAdd.wav.import
assets/audio/TokenStart.wav.import
assets/audio/TraversalComplete.wav.import
assets/audio/unadded/NewToken.wav.import
assets/audio/unadded/RoundWon REPLACE.wav.import
assets/audio/unadded/RoundWon.wav.import
assets/fonts/GambadoSans.otf.import
assets/fonts/Helvetica-Bold.ttf.import
assets/fonts/HelveticaNeueMedium.otf.import
assets/fonts/OrangeKid.otf.import
assets/fonts/ProggyClean.ttf.import
assets/images/boundsborder.blend
assets/images/boundsborder.blend.import
assets/images/blocks/Add1Top.png.import
assets/images/blocks/blockbase.blend.import
assets/images/blocks/BlockBase.png.import
assets/images/blocks/inout.blend.import
assets/images/blocks/Input.png.import
assets/images/blocks/InputTop.png.import
assets/images/blocks/Mult2Top.png.import
assets/images/blocks/Output.png.import
assets/images/blocks/OutputTop.png.import
assets/images/blocks/test.png.import
assets/images/blocks/untitled.png.import
assets/images/misc/logonu.png.import
assets/images/misc/logonuproc.png.import
assets/images/ui/Bounds/backbase.png.import
assets/images/ui/Bounds/BlockLayerBack.png.import
assets/images/ui/Bounds/boundsborder.blend.import
assets/images/ui/Bounds/BoundsBorder.png.import
assets/images/ui/Bounds/boundsborderbase.png.import
assets/images/ui/Bounds/boundsbordermask.png.import
assets/images/ui/Bounds/Underwater vol.2.ase
assets/images/ui/Indicators/ScoreIndicatorBase.png.import
assets/images/ui/Indicators/TokenIndicatorBase.png.import
