# Godot 4+ specific ignores
.godot/
/android/
.DS_Store
.windsurfrules
.frc
godot.log
*.import
.cursor/rules/guidelines.mdc
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.idea/.gitignore
.idea/indexLayout.xml
.idea/vcs.xml
.idea/.idea.f/.idea/.gitignore
.idea/.idea.f/.idea/encodings.xml
.idea/.idea.f/.idea/indexLayout.xml
.idea/.idea.f/.idea/vcs.xml
.idea/.idea.f/.idea/libraries/GdSdk_Master.xml
.idea/.idea.f.dir/.idea/.gitignore
.idea/.idea.f.dir/.idea/encodings.xml
.idea/.idea.f.dir/.idea/indexLayout.xml
.idea/.idea.f.dir/.idea/libraries/GdSdk_Master.xml
build-and-run.sh
assets/
icon.svg
splash.png
f.sln.DotSettings.user
